.searchparamcontainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.searchkey{
    width: 20vw;
    background-color: #F5F1F0;
    padding: 2px 0px 0px 2px;
}

.searchvalue{
    width: 30vw;
    background-color: #F5F1F0;
    padding: 2px 0px 0px 2px;
}